# Entorno virtual
.venv/
venv/
env/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración de VSCode
.vscode/

# Carpetas de Pytest
.cache/
pytest_cache/

# Archivos de distribución
build/
dist/
*.egg-info/

# Archivos temporales
*.log
*.tmp

# Configuración de entorno
.env
*.env

# Archivos del sistema
.DS_Store
Thumbs.db
